/* General Body Styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    
}

/* Logo Styling */
.logo-container {
    display: flex;
    justify-content:left;
    margin-top: 20px;
}
.logout{
    text-align: right;
    padding-right: 20px;
}
.logo {
    max-width: 200px;
    height: auto;
}

/* Container Styling */
.container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Headline Styling */
h1 {
    font-size: 2.5rem;
    color: #1e88e5;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Flash Messages */
.alert-info {
    background-color: #e0f7fa;
    color: #006064;
    border-color: #b2ebf2;
}

/* Form Input Fields */
input[type="file"], input[type="text"], input[type="password"] {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
}

.form-group label {
    font-weight: bold;
    color: #333;
}

button {
    border-radius: 25px;
    padding: 10px 30px;
    font-size: 1.1rem;
    text-transform: uppercase;
}

/* Primary Button */
.btn-primary {
    background-color: #1e88e5;
    border: none;
}

.btn-primary:hover {
    background-color: #1565c0;
}

/* Secondary Button */
.btn-secondary {
    background-color: #0288d1;
    border: none;
}

.btn-secondary:hover {
    background-color: #0277bd;
}

/* Danger Button (Logout) */
.btn-danger {
    background-color: #d32f2f;
    border: none;
}

.btn-danger:hover {
    background-color: #c62828;
}

/* Info Button */
.btn-info {
    background-color: #26c6da;
    border: none;
}

.btn-info:hover {
    background-color: #00acc1;
}

/* Warning Button */
.btn-warning {
    background-color: #ffb300;
    border: none;
}

.btn-warning:hover {
    background-color: #ffa000;
}

/* Credentials Password Form */
#credentials-password-form {
    display: none;
    background-color: #fafafa;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 20px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #f8f9fa;
    color: #6c757d;
    border-top: 1px solid #e5e5e5;
}
mark {
    background-color: yellow;
    font-weight: bold;
}
